<nav>
    <div class="nav-wrapper">
        <a onclick='navigate("index")'class="brand-logo">Note'Tout</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">

</ul>
<div id="tempo">
    <div class="container">

        <h3 id="editTitle">Compte</h3>
        <div >
            <h4 >Modification de l'email</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="fieldEmail" type="email" class="validate">
                            <label for="fieldEmail" class="active">Email</label>
                        </div>

                </form>
            </div>
            <div class="row">
                <button class="btn btn-primary borderRadus" onclick="compteController.saveEmail()"><i class="fas fa-check"></i>&nbsp;enregistrer</button>
            </div>
        </div>

        <div >
            <h4 >Modification du mot de passe</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="fieldPassword" type="password" class="validate">
                            <label for="fieldPassword" >password</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="fieldPassword1" type="password" class="validate">
                            <label for="fieldPassword1" >Repeter le password</label>
                        </div>
                </form>
            </div>
            <div class="row">
                <button class="btn btn-primary borderRadus" onclick="compteController.savePassword()"><i class="fas fa-check"></i>&nbsp;enregistrer</button>
            </div>
        </div>
    </div>
</div>
<style>
    button.btn.btn-primary.borderRadus{
        width: max-content !important;
        margin-left: auto;
    }
</style>