<nav>
    <div class="nav-wrapper">
        <a onclick='navigate("index")'class="brand-logo">Note'Tout</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">

</ul>
<div id="tempo">
    <div class="container">

        <h3 id="editTitle">Ajouter d'un produit</h3>
        <div id="formEditCar">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="fieldName" type="text" class="validate">
                            <label for="fieldName" >Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="fieldQtt" type="number" min=0 class="validate">
                            <label for="fieldQtt" >quantite</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <button class="btn btn-primary borderRadus" onclick="editProduitController.save()"><i class="fas fa-check"></i>&nbsp;enregistrer</button>
            </div>
        </div>
    </div>
</div>
<style>
    button.btn.btn-primary.borderRadus{
        width: max-content !important;
        margin-left: auto;
    }
</style>